/* START: scrollbar */

* {
    scrollbar-width: auto;
    scrollbar-color: #8f54a0 #ffffff;
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 10px;
    border: 3px solid #ffffff;
}

/* END: scrollbar */



/* START: animcations */
#loading {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    z-index: 99999;
}

/* END:animcations */

/* css default */
body {
    background-color: #ccc;
}

h1,
h2,
h3,
h4,
h5,
h6,
.nav-link {
    font-family: 'Rubik', sans-serif !important;
}

html {
    scroll-behavior: smooth;
}

/* variables - preprocessors */
:root {
    --primary-color: #060042;
    --secondary-color: #45567d;
    --bg-gradient: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    --dark: #303841;
}

/* css styling */
.bg-primary {
    background-color: var(--primary-color) !important;
}

.navbar-nav .nav-link:hover {
    border-bottom: 2px solid #fff;
    padding-bottom: 0px;
}

.welcome-section {
    height: 100vh;
}

.text-primary {
    color: var(--primary-color) !important;
}

.bg-gradient {
    background-image: var(--bg-gradient) !important;
}

.bg-dark {
    background-color: var(--dark) !important;
}

.bg-secondary {
    background-color: var(--secondary-color) !important;
}

#about h2,
#portfolio h2,
#contact h2 {
    font-family: 'Raleway', sans-serif;
}

#about-content p {
    text-align: justify !important;
}

.card:hover {
    transition: transform 0.3s ease-out !important;
}

/* icons */
.contact-icons .fa-brands:hover,
.contact-icons .fa-solid:hover {
    color: rgba(255, 255, 255, 0.815) !important;
    transition: 0.5s ease-out;
}

#contact {
    border-bottom: 5px solid var(--primary-color) !important;
}

.btn-outline-dark {
    background-color: rgba(0, 0, 0, 0.062);
    color: #fff;
}



.btn-primary {
    background-color: var(--primary-color) !important;
}



/* nav toggler */
.navbar-toggler:focus {

    outline: unset;
    box-shadow: unset;
}

#bg-main {

    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(61, 8, 146, 0.73)),
        url("../assets/images/bg-main.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}



@media(max-width: 789px) {
    .navbar-nav .nav-link:hover {
        border-bottom: unset;
        padding-bottom: unset;
    }

    .welcome-section {
        height: 35vh;
    }

    #bg-main h4 {
        font-size: 0.9rem;
        font-weight: unset !important;
    }
}

.neonText {
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 5px #fff,
        0 0 10px #fff,
        0 0 42px #2fa,
        0 0 82px #2fa,
        0 0 92px #2fa,
        0 0 102px #2fa,
        0 0 151px #2fa;
}